@import url(http://fonts.googleapis.com/css?family=Stalemate); /* h1 */
@import url(http://fonts.googleapis.com/css?family=Fjord+One); /* p, ul, td */
@import url(http://fonts.googleapis.com/css?family=Oswald); /* h2-h4 */

body {
	font-family: helvetica, sans-serif;
	background-color: #E9EAED; /* En gråfarge*/
	line-height: 25px;
	margin: 0;
}

.container {
	max-width: 700px; /* Samler alle taggene */
	margin: 50px auto 120px auto; /* Sentrerer hele siden */
}

h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	color: #262626;
}

p, ul, td {
	font-family: 'Fjord One', serif;
	color: #3a3a3a;
}

.link { color: #60BC7B; }
.link:hover { color: #81ec9c; }

.knapper {
	padding-left: 0;
}

.knapper a, nav a {
	text-decoration: none;
	color: black !important;
	background-color: lightgrey;
	padding: 8px 10px;
}

.knapper a:hover, nav a:hover{
	background-color: #e8e8e8;
}

.knapper h2 {
	margin-top: 0;
}

.knapper ul, nav ul {
	padding: 0;
	margin-bottom: 0;
}

.knapper li, nav li {
	display: inline-block; /* Gjør at listen ligger horisontalt */
}

#header {
	font-family: 'Stalemate', cursive;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	padding: 15px 0;
}

#header h1 {
	margin: 10px;
	display: inline-block;
	vertical-align: super;
}

.profil-img {
	display: inline-block;
	border-radius: 100px;
	max-width: 100px;
	margin-left: 15px;
}

#logo  {
	margin-left: 10px;
}

.logo-img {
	max-height: 100px;
	margin-left: 15px;
}

.box h2 {
	margin-top: 0;
}

.box p:last-child {
	margin-bottom: 0;
}

#fav-boker {
	margin-top: 10px;
}

table {
	width: 100%;
	padding: 5px;
}

table tr:nth-child(even) {
	background-color: #e8e8e8;
}

table th {
	text-align: left;
}

.box, nav{
	margin-top: 15px; /* Lager et mellomrom mellom #om-oss og '.box' */
	padding: 15px 15px; /* Lager en avstand mellom teksten og kanten til boksen */
	background-color: white;
	border-radius: 2.5px;
	margin: 10px;
}

nav {
	background-color: white;
	border-top: solid 1px lightgrey;
	width: 100%;
	position: fixed;
	margin: 0;
	bottom: 0;
}

nav ul {
	margin-top: 5px;
}
