body {
	font-family: helvetica, sans-serif;
	max-width: 700px; /* Samler alle taggene */
	margin: 50px auto; /* Sentrerer hele siden */
	background-color: #E9EAED; /* En gråfarge*/
	line-height: 25px;
}

p, ul {
	color: #3a3a3a;
}

.link {
	color: #60BC7B;
}

.link:hover {
	color: #81ec9c;

}

#header {
	text-align: center;
	margin-bottom: 35px;
}

#om-oss, #om-meg, #om-prosjektet {
	padding: 15px 10px; /* Lager en avstand mellom teksten og kanten til boksen */
	background-color: white;
	border-radius: 2.5px;
}

#om-oss h2, #om-prosjektet h2 {
	margin-top: 0;
}

img {
	max-height: 180px;
	margin-bottom: 10px;
}

nav {
	margin-top: 15px; /* Lager et mellomrom mellom #om-oss og 'nav' */
	padding: 15px 10px; /* Lager en avstand mellom teksten og kanten til boksen */
	background-color: white;
	border-radius: 2.5px;
}
nav a {
	text-decoration: none;
	color: black;
	background-color: lightgrey;
	padding: 8px 10px;
}

nav a:hover {
	background-color: #e8e8e8;
}

nav h2 {
	margin-top: 0;
}

nav ul {
	margin-bottom: 0;
}

nav ul {
	padding: 0;
}

nav li {
	display: inline-block; /* Gjør at listen ligger horisontalt */
}
